.county-data {
    width: 99%;
    max-width: 400px;
    margin: auto;
    padding-bottom: 10px;
}

.county-data-header {
    font-weight: bold;
}

.county-data-row {
    margin: auto;
    display: inline-grid;
    grid-template-columns: 150px 60px 60px;
    text-align: left;
    border-bottom: 0.5px solid silver;
    padding: 5px 0px;
}

.align-right {
    text-align: right;
}