.data-table {
   /* max-width: 980px; */
}

.data-row {
    display: inline-block;
    text-align: left;
    height: 80px;
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    border: .5px solid silver;
    padding: 10px 5px;
    margin: 3px;
    border-radius: 10px;
    background-color: #e8e8e8;
    vertical-align: top;

}
.section-title {
    font-weight: bold;
}

.data-label {
    text-transform: uppercase;
    padding-top: 2px;
    line-height: normal;
    height: 20px;
}

.data-number {
    font-size: 22px;
}

.percent {
    font-size: 8pt;
    color: green;
    display: block;
    line-height: 1.2;
    padding-top: 5px;
    margin-top: 5px;
    border-top: .5px solid darkgray;
}

.links {
    padding-bottom: 10px;
}