.chart-summary-row {
    display: inline-block;
    width: 100%;
    max-width: 140px;
    min-width: 100px;
    border: 0.5px solid silver;
    margin: 3px;
    border-radius: 10px;
    background-color: #e8e8e8;
    vertical-align: top;
}

.label {
    font-weight: bold;
}

.full-width-component {
    width: 100%;
    max-width: 92%;
    height: 650px;
}


/*** Everthing below is for popup of chart info **/

.chart-info-popup{
    font-size: 8pt;
    padding: 0;
    line-height: 1em;
    text-transform: lowercase;
}


/* Popup container - can be anything you want */
.info-popup {
    display: none;
    position: relative;
    /*display: inline-block; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* The actual popup */
.info-popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
/* Popup arrow */
.info-popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
/* Toggle this class - hide and show the popup */
.info-popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}