select {
    text-transform: capitalize;
    outline: none !important;
    border: 0.5px solid silver;
    padding: 3px 1px;
    width: 170px; 
    font-size: small;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px silver;
}

select:focus {
    outline: none !important;
    border: 0.5px solid silver;
}

.field-label {
    display: none;
}

@media only screen and (max-width: 580px) {
    select {
        width: 95%;
        margin: auto;
        margin-top: 3px;
    }
}