.overview-data-row {
    margin: auto;
    display: inline-block;
    text-align: right;
    height: 100px;
    width: 40%;
    max-width: 160px;
    min-width: 120px;
    border: .5px solid silver;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    background-color: #E8E8E8;
    vertical-align: top;
}

.data-label {
    text-align: right;
    text-transform: uppercase;
    padding-top: 2px;
    line-height: normal;
}

.data-number {
    font-size: 18px;
    padding-top: 5px;
}

.percent, .estimate {
    font-weight: bold;
    color:green;
}

.data-percent {
    border-top: .5px solid silver;
    padding-top: 5px;
    margin-top: 8px;
}

.estimated-population {
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px
}

.links {
    padding-bottom: 10px;
}