.overview-data {
    width: 99%;
    max-width: 400px;
    padding: 10px 0px;
    margin: auto;
}

.overview-data-row {
    margin: auto;
    display: inline-grid;
    grid-template-columns: 130px 80px 60px;
    text-align: left;
    border-bottom: 0.5px solid silver;
    padding: 5px 0px;
}

.percent, .estimate {
    font-weight: bold;
    color:green;
}

.estimate-message {
    padding: 10px 0px;
}

.links {
    padding-bottom: 10px;
}