.dashboard {
    margin: auto;
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.page-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    line-height: normal;
    background: url(/covid19-by-state/network-4851119_1280.jpg);
}

.page-layout {
    background-color: #E8E8E8;
}
.page-title {
    text-align: center;
    padding: 15px 10px 10px 10px;
    font-family: 'Gruppo', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.page-title span {
    white-space: nowrap;
}

.page-subtitle {
    color: silver;
    padding-bottom: 10px;
}

.page-footer {
    padding:20px;
    border-top: 0.5px solid silver;
    font-size: 10px;
    line-height: 2em;
}

.site-link {
    cursor: pointer;
    color: blue;
    white-space: nowrap;
}

.page-footer {
    background-color: black;
    color: #cacaca;
}

.footer-site-link {
    cursor: pointer;
    color: lightgreen;
}

/*
***********************************************************
This style below this line are used across several components 
contained in the dashboard component. 
***********************************************************
*/
.dashboard-component {
    display: inline-block;
    width: 97%;
    max-width: 600px;
    text-align: center;
    line-height: 2em;
    border: 0.5px solid silver;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    vertical-align: top;
}

.dashboard-component-title {
    padding: 10px;
    font-size: 12pt;
    text-transform: uppercase;
    margin: 0;
}

.dashboard-component-title span {
    white-space: nowrap;
}

.component-data {
    width: 99%;
    max-width: 400px;
    padding: 10px 0px;
    margin: auto;
}

.data-sources {
    font-size: smaller;
    padding: 10px 5px;
    width: 95%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .dashboard-component {
        margin: 10px 0px;
    }
}