.dashboard {
    margin: auto;
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E8E8E8;
}

.page-header {
    line-height: normal;
    background: url(/covid19-by-state/network-4851119_1280.jpg);
    z-index: 100;
}

.page-layout {
    width: 100%;
    max-width: 1250px;
    margin: auto;
}
.page-title {
    text-align: center;
    padding: 15px 10px 10px 10px;
    font-family: 'Gruppo', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.page-title span {
    white-space: nowrap;
}

.page-subtitle {
    color: silver;
    padding-bottom: 10px;
}

.page-footer {
    margin-top: 20px;
    padding:20px;
    border-top: 0.5px solid silver;
    font-size: 10px;
    line-height: 2em;
    background-color: black;
    color: #cacaca;
}

.site-link {
    cursor: pointer;
    color: blue;
    white-space: nowrap;
}

.footer-message {
    max-width: 550px;
    margin: auto;
    font-size: 12px;
}

.footer-site-link {
    cursor: pointer;
    color: lightgreen;
}

.page-section-title {
    padding: 10px 0px;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0;
    background: darkgray;
}

/*
***********************************************************
This style below this line are used across several components 
contained in the dashboard component. 
***********************************************************
*/
.dashboard-component {
    display: inline-block;
    width: 45%;
    max-width: 600px;
    min-width: 350px;
    text-align: center;
    line-height: 2em;
    border: 0.5px solid silver;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    vertical-align: top;
}

.dashboard-component-title {
    padding: 10px;
    font-size: 12pt;
    text-transform: uppercase;
    margin: 0;
}

.dashboard-component-title span {
    white-space: nowrap;
}

.component-data {
    width: 99%;
    max-width: 400px;
    padding: 10px 0px;
    margin: auto;
}

.data-sources {
    font-size: smaller;
    padding: 10px 5px;
    width: 95%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .dashboard-component {
        margin: 10px 0px;
        padding: 2px;
        max-width: 95%;
        min-width: 95%;
    }
    .page-title {
        padding: 10px 0px;
        font-size: 14pt;
    }
    .page-subtitle {
        padding: 0 0 8px;
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-component {
        max-width: 95%;
        min-width: 95%;
    }
}

@media only screen and (max-height: 400px) {
    .page-title {
        padding: 8px 0px;
        font-size: 12pt;
    }
    .page-subtitle {
        padding: 0 0 8px 0px;
    }
}
