.dashboard {
    margin: auto;
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.page-layout {
    padding: 10px;
    background-color: lightgray;
}
.page-title {
    text-align: center;
    padding: 15px 10px;
    font-family: 'Gruppo', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: url(/covid19-by-state/network-4851119_1280.jpg);
}

.page-footer {
    padding:20px;
    border-top: 0.5px solid silver;
    font-size: 10px;
    line-height: 2em;
}

.site-link {
    cursor: pointer;
    color: blue;
    white-space: nowrap;
}

.page-footer {
    background-color: black;
    color: #cacaca;
}

.footer-site-link {
    cursor: pointer;
    color: lightgreen;
}

/*
***********************************************************
This style below this line are used across several components 
contained in the dashboard component. 
***********************************************************
*/
.dashboard-component {
    width: 97%;
    max-width: 800px;
    text-align: center;
    line-height: 2em;
    padding: 5px;
    border: 0.5px solid silver;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
}

.dashboard-component-title {
    padding-bottom: 20px;
    font-size: 12pt;
    text-transform: uppercase;
    margin: 0;
}

.dashboard-component-title span {
    white-space: nowrap;
}

.component-data {
    width: 99%;
    max-width: 400px;
    padding: 10px 0px;
    margin: auto;
}

.data-number {
    text-align: right;
}

.data-sources {
    font-size: smaller;
    padding: 10px 5px;
    width: 95%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

  