.state-data-history {
    margin: auto;
    text-align: center;
    font-family: "open sans", Arial, Helvetica, sans-serif;
}

.chart-container {
    width: 100%;
    height: auto;
    max-width: 900px;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    margin: auto;
}
